<div class="container">
  <h1>Relatório de Empréstimos Atrasados</h1>

  <p class="mensagem" *ngIf="mensagem">{{ mensagem }}</p>

  <table *ngIf="emprestimos.length > 0; else semAtrasados">
    <thead>
    <tr>
      <th>ID</th>
      <th>Livro</th>
      <th>Pessoa</th>
      <th>Telefone</th>
      <th>Data prevista</th>
      <th>Dias de atraso</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let emprestimo of emprestimos">
      <td>{{ emprestimo.id }}</td>
      <td>{{ emprestimo.livro.titulo }}</td>
      <td>{{ emprestimo.nomePessoa }}</td>
      <td>{{ emprestimo.telefone }}</td>
      <td>{{ emprestimo.dataDevolucaoPrevista }}</td>
      <td>
          <span class="atraso">
            {{ calcularDiasAtraso(emprestimo.dataDevolucaoPrevista) }} dias
          </span>
      </td>
    </tr>
    </tbody>
  </table>

  <ng-template #semAtrasados>
    <p>Nenhum empréstimo atrasado.</p>
  </ng-template>
</div>
